<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448038904489-5matdusqpg5ohur2dmvn6sitg276t4td.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448038904489-5matdusqpg5ohur2dmvn6sitg276t4td</string>
	<key>CFBundleIdentifier</key>
	<string>Flutter: Firebase ios Integrated , implemented social auth , email&amp;password auth ,cloud firstore in ios</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>448038904489-9o1fuj8u076pdqqpn105phfu2vgghtgs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBI-lKrdjcdyOou6z5BKYoFcmIiM57E0WA</string>
	<key>GCM_SENDER_ID</key>
	<string>448038904489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aspenTravelle</string>
	<key>PROJECT_ID</key>
	<string>aspen-travlle</string>
	<key>STORAGE_BUCKET</key>
	<string>aspen-travlle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:448038904489:ios:9489c54c76fc155c603fb8</string>
</dict>
</plist>
